.card>img {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 var(--card-shadow-color) !important;
    transition: 0.3s;
    width: 30%;
    background-color: var(--card-background-color);
}

.board:nth-child(even)>.card, .store_item:nth-child(even)>.card {
    float: left;
    margin-left: 20px;
}

.board:nth-of-type(odd)>.card, .store_item:nth-child(odd)>.card {
    float: right;
    margin-right: 20px;
}