.enrollment {
    margin-top: 10px;
    border-radius: var(--border-radius);
    background-color: var(--container-background-color);
    padding: 10px;
}

.enrollment_checkbox {
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    width: 100%;
    background-color: white;
    padding-top: 12px;
}

input[type=submit].licensed:enabled {
    background-color: rgb(216, 216, 0);
    color: black;
}

input[type=submit].licensed:hover {

    background-color: rgb(195, 195, 0) !important;
    color: black;
}