.product_container {
    position: relative;
}

#checkout_overlay .box{
    overflow: auto;
}

#checkout_overlay>box {
    background-color: unset;
}

.store_availability {
    position: absolute;
    right: 5px;
    top: 5px;
}

.close {
    position: fixed;
    right: 30px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}

.purchase_button {
    width: 100%;
    display: block;
}

/* 
    Bug on safari, iOS 
    https://bugs.webkit.org/show_bug.cgi?id=141822
*/
.iti__arrow { border: none; }

/* STRIPE STUFF */

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: var(--cancel-color);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5;
}

.charge, .source {
    display: none;
}

.lds-hourglass {
    display: inline;
    float: none;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px auto;
    box-sizing: border-box;
    border: 104px solid rgb(0, 120, 20);
    border-color: rgb(0, 120, 20) transparent rgb(0, 120, 20) transparent;
    animation: lds-hourglass 3s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}
