html {
    font-family: "heebo", serif;
    text-rendering: optimizelegibility;
}

body {
    max-width: 100vw;
}

h1 {
    margin: 0px;
    font-family: "heebo", serif;
    font-weight: 800;
    font-size: 55px;
}

.maintable {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    margin-top: 54px;
    padding-top: 15px;
}

.text_box {
    font-family: "heebo", serif;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    color: #000000;
    position: relative;
}

.box {
    background-color: #fff;
    padding: 25px;
    overflow: auto;
    border-radius: 3px;
    align-content: center;
    text-align: center;
    margin: 20px 0px;
    margin-top: 10px;
    border-radius: 10px;
}

.box a {
    color: #00f;
}

.box.green {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    border: 0px;
}

.container {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.img-text {
    padding: 2px 16px;
    background-color: white;
    margin: 0;
}

.container a {
    color: #00FFFF;
}

.error {
    background-color: #960000 !important;
    color: #fff !important;
}

.board div {
    display: inline-block;
    width: 55%;
    margin: auto;
    padding-top: 10px;
}

.board:nth-child(odd) div {
    float: left;
}

.box h1 {
    font-size: 36px;
}

.box.green h1 {
    font-size: 56px;
}

.card-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    float: left;
    margin-top: 10px;
}

.card-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    float: right;
    margin-top: 10px;
}

.board>.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    float: left;
    margin-top: 10px;
}

.board:nth-of-type(odd)>.card {
    float: right;
}

.card img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

span.right {
    display: inline-block;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
}

span.left {
    display: inline-block;
    width: 55%;
}

.enrollment {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.enrollment_checkbox {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    padding-top: 12px;
}


/* TABLES */

.center_table tr td {
    width: 50%;
}

.center_table tr td:nth-child(odd) {
    text-align: right;
}

.center_table tr td:nth-child(even) {
    text-align: left;
    font-weight: bold;
}

.black {
    color: black;
}


.red {
    background-color: red !important;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 104px solid #7f8;
    border-color: #7f8 transparent #7f8 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

#paymentComplete {
    color: #7f8;
    font-size: 104px;
}

#failedCross {
    color: #f33;
    font-size: 104px;
}

#loading_box {
    z-index: 100;
}

.hidden {
    display: none;
}

.admin_header {
    color: #000 !important;
}

.admin_username {
    color: #000;
}