:root {
    --border-radius: 5px;
    --background: url("../img/background.jpg") no-repeat center center fixed;
    --disabled: #565656;

    /* Todo: 80% brightness in dark mode on colors below*/
    --cancel-color: #FC4550;
    --cancel-color-hover: #bd343d;
    --accent-color: #1793d1;
    --accent-color-hover: #116f9e;

    /* not used but just for reference */
    --NTNUI-red: #ea0029;
    --NTNUI-grey: #2d2a26;
    --NTNUI-green: #00833e;
    --NTNUI-yellow: #ffda00;
}

:root {
    --primary-foreground-color: #222831;
    --primary-background-color: #ffffffe0;
    --primary-background-color-no-opacity: #ffffff;

    --secondary-foreground-color: #393E46;
    --secondary-background-color: #caccd1e0;
    --secondary-background-color-no-opacity: #caccd1;
    /*
for some reason a logical solution does not work logically correct
https://dev.to/cadienvan/the-unsolvable-z-index-auto-increment-3l77
*/
    --z-index-background: 0;
    --z-index-content: 1;
    --z-index-menu-bar: 2;
    --z-index-menu-overlay: 3;
    --z-index-modal-payment: 4;
    --z-index-modal-message: 5;

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-foreground-color: #EDEDED;
        --primary-background-color: #222831e0;
        --primary-background-color-no-opacity: #222831;

        --secondary-foreground-color: #EDEDED;
        --secondary-background-color: #181c22e0;
        --secondary-background-color-no-opacity: #181c22;
    }

    img {
        filter: brightness(80%);
    }
}

* {
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-family: cantarell, roboto, serif;
    text-rendering: optimizeLegibility;
    background: var(--background);
    background-size: cover;
}

body {
    /* push content further down as menu bar grows */
    padding-top: calc(2vh + 1.3vw);
}

h1, h2, h3, h4, h5, h6, a, span, p, li, label {
    color: var(--primary-foreground-color);
}

a, span, p, li, label {
    font-size: large;
    font-weight: 500;
}

/*TODO: remove this class and make it somehow work */
.visible {
    display: block !important;
}

a:hover {
    color: var(--accent-color);
}

h1, h2, p {
    margin: 20px;
}

h1, h2, h3, h4, p, .email {
    margin-left: 20px;
}

.email {
    text-decoration: none;
    margin: 20px;
    display: block;
}

/* TABLES */

.center_table tr td {
    width: 50%;
}

.center_table tr td:nth-child(odd) {
    text-align: right;
}

.center_table tr td:nth-child(even) {
    text-align: left;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.error, .red, .delete {
    background-color: var(--cancel-color) !important;
    color: #fff;
}

.contents {
    display: contents;
}