:root {
    --border-radius: 5px;
    --background: url("../img/background.jpg") no-repeat center center fixed;
}

/* Dark mode ish 
:root {
    --container-background-color: #111;
    --container-foreground-color: white;
    --card-background-color: #111;
    --card-foreground-color: white;
    --card-shadow-color: rgba(255,255,255,0.2);
}
*/

/* Light theme */

:root {
    --container-background-color: white;
    --container-foreground-color: black;
    --card-background-color: white;
    --card-shadow-color: black;
}

html {
    font-family: cantarell, roboto, serif;
    text-rendering: optimizeLegibility;
    background: var(--background);
}

h1, h2, h3, h4, h5, h6, a, span, p, li, label {
    color: var(--container-foreground-color);
}

h1, h2, p {
    margin: 20px;
}

h1, h2, h3, h4, p, .email {
    margin-left: 20px;
}

.email {
    text-decoration: none;
    margin: 20px;
    display: block;
}

.maintable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    padding-top: 15px;
}

.box {
    background-color: var(--container-background-color);
    overflow: auto;
    padding: 25px;
    margin: 20px 0px;
    border-radius: var(--border-radius);
}

.box:first-of-type {
    margin-top: 3.5vw;
}

.container {
    padding: 2px 16px;
    background-color: var(--container-background-color);
    color: var(--container-foreground-color);
}

.container a {
    color: #00FFFF;
}

span.right {
    display: inline-block;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
}

span.left {
    display: inline-block;
    width: 55%;
}

/* TABLES */

.center_table tr td {
    width: 50%;
}

.center_table tr td:nth-child(odd) {
    text-align: right;
}

.center_table tr td:nth-child(even) {
    text-align: left;
    font-weight: bold;
}

.red {
    background-color: red !important;
}

.hidden {
    display: none;
}

.error {
    background-color: #960000 !important;
    color: #fff !important;
}

.contents {
    display: contents;
}