parameters:
	level: 2
	paths:
		- public/index.php
		- Library
		- api
	exceptions:
		#implicitThrows: false
		check:
			tooWideThrowType: true
		uncheckedExceptionRegexes:
			- '#^Exception$#' # Don't check Exception class handling only derived classes
