parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$statusCode of method Lukasoppermann\\\\Httpstatus\\\\Httpstatus\\:\\:getReasonPhrase\\(\\) expects string, int given\\.$#"
			count: 1
			path: Library/Util/Api.php
