.box {
    padding: 0px;
    margin: 0px;
}

button:disabled {
    background-color: darkgray;
    cursor: default;
}

h3 {
    margin: 0;
}

.weak {
    color: rgba(0, 0, 0, 0.4);
}

.purchase-row-name,
.purchase-row-email,
.purchase-row-phone,
.purchase-row-comment,
.purchase-row-button-deliver {
    display: block;
    width: 100%;
}