# Block file listing in the web server
Options All -Indexes

# Allow listing of src/index.php and all files in public directory
DirectoryIndex src/index.php public/*

# Logging
php_flag log_errors on
php_flag display_startup_errors off
php_flag html_errors off
php_flag ignore_repeated_errors on

RewriteEngine On

# Force ssl
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow access to all files inside public.
RewriteRule ^public/ - [L]
RewriteCond public/$0 -F
RewriteRule .* public/$0 [L]

# TODO: somehow allow access to all images inside runtimeData/img

# Rewrite all requests to src/index.php
RewriteRule ^([^?]*)$ src/index.php [NC,L,QSA]
